<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!showResults" >
    <h3>Card Scan</h3>

    <button ion-button primary full round (click)="scan()" padding>Start Scan</button>
    
    <br>
    

    
  </div>
  <ion-list *ngIf="showResults">
      <p>
          Data found: {{selectedProduct}}
          </p>
    <ion-item *ngFor="let item of results">
        <ion-avatar item-start>
          <ion-icon [name]="item.icon" item-start></ion-icon>
      </ion-avatar>
      <h2 primary style="font-weight:bold">{{item.title}}</h2>
      <p style="word-wrap: break-word;">{{item.text}}</p>
      <button ion-button clear item-end>Edit</button>
    </ion-item>
    <button ion-button secondary (click)="showResults=false" style="margin-top:5vw">BACK</button>
  </ion-list>

  
</ion-content>
